*
{
    box-sizing: border-box;
}
body{
    background-image: url("unnamed.jpg");
    background-attachment:fixed;
    background-repeat :no-repeat;
    background-size:cover;
    
}
p{
    text-emphasis: strong;
    font-family: 'Times New Roman', Times, serif;
    color:#181662;
    font-size: xx-large;
}
h1{
    font-size: 110px;
    color: #181662;
    text-align: center;
    margin-top: 4%;
    font-family: 'Times New Roman', Times, serif;
}